{% extends "base.html" %}


{% block content %}


<h1>Dictation</h1>
<p id="currentScore">Current Score: <span>0</span></p>
{% if dictation_prompt %}

    <a href="/edit/{{ dictation_prompt['_id'] }}">Edit</a>
    <p id="translationPrompt">汉语: <span>{{ dictation_prompt['translation'] }}</span></p>
    
    <!-- google -->
    <div id="translationResult">翻译结果将显示在这里</div>
    <audio id="pronunciationAudio" src="" hidden></audio>

    <input type="text" id="dictationInput" placeholder="Type the English word">
    <button id="checkWord">Check</button>
    <p id="feedback"></p>
    <!-- 新增的用法显示区域 -->
    <div id="usage" style="max-width:100%; overflow-wrap:break-word; margin-top:20px;"></div> <!-- 用于显示用法的元素 -->
    <input type="hidden" id="correctWord" value="{{ dictation_prompt['word'] }}">
    <input type="hidden" id="dbId" value="{{ dictation_prompt['_id']}}">
    <input type="hidden" id="wordUsage" value="{{ dictation_prompt['usage'] }}"> <!-- 存储用法的隐藏字段 -->
{% else %}
    <p>No words available for dictation.</p>
{% endif %}



<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateScore(); 
        const input = document.getElementById('dictationInput');
        const checkButton = document.getElementById('checkWord');
        let correctAnswerGiven = false; // 用于标记是否已经给出了正确答案
        
        function fetchTranslationAndPronunciation() {
            const word = document.getElementById('correctWord').value;
            fetch(`/translate?text=${word}`)
            .then(response => response.json())
            .then(data => {
                // 显示翻译结果
                document.getElementById('translationResult').textContent = `翻译: ${data.translation}`;
                // 请求读音
                return fetch(`/pronounce?text=${word}`);
            })
            .then(response => response.blob())
            .then(blob => {
                const audioURL = URL.createObjectURL(blob);
                const audioElement = document.getElementById('pronunciationAudio');
                audioElement.src = audioURL;
                audioElement.play();
            })
            .catch(error => console.error('Error fetching translation or pronunciation:', error));
        }
    
        // 当页面加载完毕，获取翻译和读音
        fetchTranslationAndPronunciation();

        function incrementDictationCount(wordId) {
            fetch(`/increment-dictation-count/${wordId}`, { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to increment dictation count');
                }
                console.log('Dictation count incremented successfully');
            })
            .catch(error => console.error('Error:', error));
        }
        
        function checkWord() {
            const inputWord = input.value.trim();
            const correctWord = document.getElementById('correctWord').value;
            // 从隐藏的input元素获取单词ID
            const wordId = document.getElementById('dbId').value;
            // 构建请求体
            const data = { inputWord: inputWord, correctWord: correctWord };
            if (!correctAnswerGiven){
                fetch('/check-word', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Correct!') {
                        // 用户答对了，显示用法，播放读音，然后加载新单词
                        document.getElementById('feedback').textContent = 'Correct!';
                        document.getElementById('usage').innerHTML = `<strong>Usage:</strong> ${document.getElementById('wordUsage').value}`;
                        correctAnswerGiven = true;
                        updateScore(); 
                        incrementDictationCount(wordId); // 增加听写次数
                        return;
                    } else {
                        // 用户答错了，显示正确答案，不自动加载新单词，但仍然播放读音
                        document.getElementById('feedback').textContent = `Incorrect. The correct word is: ${correctWord}. Try again.`;
                        document.getElementById('usage').textContent = ''; // 可选：清除用法信息
                        updateScore(); 
                        fetchTranslationAndPronunciation(); // 播放当前单词的读音
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('feedback').textContent = 'Error checking word. Please try again.';
                });
            }else {
                loadNewWord(); // 加载新单词
            }
        }

        function loadNewWord() {
            fetch('/new-word')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to load new word');
                }
                return response.json();
            })
            .then(data => {
                // Update the translation, word, ID, and usage with the new word's data
                document.getElementById('translationPrompt').querySelector('span').textContent = data.translation;
                document.getElementById('correctWord').value = data.word;
                document.getElementById('dbId').value = data._id;
                document.getElementById('wordUsage').value = data.usage;
        
                // Update the Edit link's href attribute to reflect the new word's ID
                document.querySelector('a[href^="/edit/"]').setAttribute('href', `/edit/${data._id}`);
        
                // Reset feedback, usage display, and input for the next word
                document.getElementById('feedback').textContent = '';
                document.getElementById('usage').textContent = '';
                input.value = ''; // Reset the input field
                correctAnswerGiven = false; // Reset the flag for correct answer given
        
                // Fetch translation and pronunciation for the new word
                fetchTranslationAndPronunciation();
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('feedback').textContent = 'Failed to load new word. Please try again.';
            });
            updateScore();
        }
        
        function updateScore() {
            fetch('/get-points')
            .then(response => response.json())
            .then(data => {
                // 确保这里使用的字段名与后端返回的JSON对象中的字段名一致
                document.getElementById('currentScore').querySelector('span').textContent = data.points;
            })
            .catch(error => console.error('Error fetching score:', error));
        }
    
        checkButton.addEventListener('click', function(e) {
            e.preventDefault();
            checkWord();
        });
    
        input.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // 防止表单提交
                checkWord();
            }
        });
    });
    
    
    </script>
    
{% endblock %}
