{% extends "base.html" %}

{% block content %}
    <h1>Edit Word</h1>
    <form action="/update/{{ word['_id'] }}" method="POST">
        <input type="text" name="word" value="{{ word['word'] }}" required>
        <input type="text" name="translation" value="{{ word['translation'] }}" >
        <textarea name="usage" class="usage-input">{{ word['usage'] }}</textarea>
        <button type="submit">Update Word</button>
    </form>

<!-- 添加jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            event.preventDefault(); // 阻止表单默认提交行为
            var formData = {
                word: $('input[name="word"]').val(),
                translation: $('input[name="translation"]').val(),
                usage: $('textarea[name="usage"]').val(),
            };
            $.ajax({
                type: "POST",
                url: "/update/{{ word['_id'] }}",
                data: formData,
                success: function(response) {
                    // 显示更新成功消息
                    alert("更新成功");
                },
                error: function() {
                    // 显示更新失败消息
                    alert("更新失败");
                }
            });
        });
    });
    </script>

{% endblock %}